body {
    margin: 0;
    margin-top: 5rem;
    background-color: #a8dadc;
    font-family: 'Open Sans', sans-serif;
}
#container{
    width: 60vw;
    background-color: #457b9d;
    text-align: center;
    margin: auto;
}
nav {
    text-align: center;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    background-color: #1d3557;
    height: 5rem;
}
img {
    width: 220px;
    height: 300px;
}
nav button{
    color: white;
    border-radius: 1em;
    padding: 0.3rem;
    background-color: #e63946;
    border: 1px solid #c9333f;
}
nav button:hover{
    background-color: #ff7b86;
}
nav input{
    border-radius: 1em;
    border: none;
    padding: 0.5em;
    color: grey;
}
h1{
    color: white;
    font-weight: 500;
}
h2{
    color: white;
}
.movieContainer{
    background-color: #0077b6;
    display: flex;
}
.movieSummary{
    color: white;
    text-align: center;
    padding: 1em;
    margin: auto;
}